// ! color Theme
$darkdime: #15202b;
$darknight: #13131a;
$darkredux: #1b1b1d;
$dark24: #242526;
$darksaga: #2f2f2f;
$colorsaga: #86d46b;
$colorlightpurple: #ba8fff;
$colordarkpurple: #593d88;
$colorlightgray: #dadde1;
$colorpurple: #7856ff;
$colorpink: #f91880;
$colorblue: #1d9bf0;
$coloryellow: #ffd400;
$colororange: #ff7a00;
$colorgreen: #00ba7c;
$text1: #171725;
$text2: #4b5264;
$text3: #808191;
$text4: #b2b3bd;
$whiteSoft: #fcfbff;
$graySoft: #fcfcfc;
$grayf3: #f3f3f3;
$strock: #f1f1f3;
